# The name of the application, used for identification within a Spring environment.
spring:
  application:
    name: redis_map
  # The profile of running application here must test.
  profiles:
      active: test
# Configuration block for Redis connection settings.
redis-configuration:
  # The mode in which Redis is running (e.g., standalone, cluster, sentinel).
  mode: standalone
  # The username used for authentication when connecting to the Redis server.
  userName: username
  # The password used for authentication when connecting to the Redis server.
  password: changeit
  # The array of nodes in the form of host and port, used for connecting to the Redis cluster or standalone nodes.
  nodes: host.docker.internal:6380
  # The timeout value (in seconds) for establishing a connection to the Redis server.
  connectionTimeOut: 30

# Example of configuration for redis-cluster mode.
#redis-configuration:
#  mode: redis-cluster
#  userName:
#  password:
#  nodes: 127.0.0.1:7000, 127.0.0.1:7001
#  connectionTimeOut: 30


# Example of configuration for sentinel mode.
#redis-configuration:
#  mode: sentinel
#  userName:
#  password:
#  nodes: 127.0.0.1:26390, 127.0.0.1:26391, 127.0.0.1:26392
#  connectionTimeOut: 30
## The timeout value (in seconds) for establishing a connection to the Redis server.
#  masterNameForSentinel: mymaster
